html, body {
  margin: 0;
  padding: 0;
}

.page {
  padding-top: 8px;
}

.code {
  background: #F7F7F7;
  overflow: auto;
  position: relative;
}

.code > code {
  color: rgb(61, 61, 61);
  white-space: pre;
}
