extends ../layout/index.pug

block content
  h4
    | Public key &nbsp;
    button(type="button").btn.btn-sm.btn-link#btnPubKeyCopy Copy
  .code.p-2
    code#pubKey= (publicKey || '')

  script.
    document.addEventListener("DOMContentLoaded", function() {
      $(document).on("click", "#btnPubKeyCopy", function() {
        var input = document.createElement('input');
        input.style = 'position: fixed; border: 0; height: 0; width: 0; overflow: hidden; left: -1px; top: -1px;';
        $(input).val($("#pubKey").text());
        document.body.append(input);
        input.select();
        document.execCommand("copy");
        $(input).remove();
        $('#btnPubKeyCopy').html('Copied');
        $('#btnPubKeyCopy').attr('disabled', true);
        setTimeout(function() {
          $('#btnPubKeyCopy').html('Copy');
          $('#btnPubKeyCopy').attr('disabled', false);
        }, 1000);
      });
    });