extends ../layout/index.pug

block content
  table
    tr
      th.p-2 Unique Id
      th.p-2 Size
      th.p-2 Last Run
      th.p-2 Next Run
    each job, index in jobs
      tr
        td.p-2= job.id
        td.p-2= job.size
        td.p-2= job.lastDate ? (new Date(job.lastDate)).toLocaleString() : '-'
        td.p-2= job.nextDate ? (new Date(job.nextDate)).toLocaleString() : '-'
