extends ../layout/index.pug

block content
  table
    tr
      th.px-2 Date
      th.px-2.pl-3 Files
    each item, index in data
      tr(id=("item-" + index))
        td.px-2= item.date
        td.px-2
          each filename in item.files
            a.btn.btn-sm.btn-link(href=("/logs/" + filename))= filename
