extends ../layout/index.pug

block content
  if error
    div#error(style="position: fixed; top: 16px; right: 16px; width: 30%;")
      .alert.alert-danger(role="alert")= error

  div
    button(type="button",data-toggle="modal",data-target="#editModal").btn.btn-sm.btn-primary.btn-add Add item

  table
    tr
      th.p-2 Unique Id
      th.p-2 Host
      th.p-2 Username
      th.p-2 Path
      th.p-2
    each item, index in list
      tr(id=("item-" + index))
        td.p-2= item.id
        td.p-2= item.host
        td.p-2= item.username
        td.p-2= item.source
        td.p-2
          button(type="button",data-toggle="modal",data-target="#editModal").btn.btn-sm.btn-outline-secondary.btn-edit Edit
          span &nbsp;
          button(type="button").btn.btn-sm.btn-outline-danger.btn-remove Remove

  .modal.fade#editModal(tabIndex="-1",aria-labelledby="editModalLabel",aria-hidden="true",data-backdrop="static",data-keyboard="false")
    .modal-dialog
      form.modal-content(action="/sources",method="post")
        .modal-header
          h5.modal-title#editModalLabel Add Source
          button(type="button",data-dismiss="modal",aria-label="Close").close
            span(aria-hidden="true") &times;
        .modal-body
          .form-group
            label(for="editModalId") Unique Id *
            input(type="text", name="id", aria-describedby="editModalIdHelp", required).form-control#editModalId
            small.form-text.text-muted#editModalIdHelp.
              Whatever you want (spaces are replaced with underscores).<br/>
              If source with this Id already exists, it is replaced.
          .form-group
            label(for="editModalHost") Host *
            input(type="text", name="host", aria-describedby="editModalHostHelp", required).form-control#editModalHost
            small.form-text.text-muted#editModalHostHelp Source machine
          .form-group
            label(for="editModalUsername") Username *
            input(type="text", name="username", aria-describedby="editModalUsernameHelp", required).form-control#editModalUsername
            small.form-text.text-muted#editModalUsernameHelp Source machine username
          .form-group
            label(for="editModalSource") Source *
            input(type="text", name="source", aria-describedby="editModalSourceHelp", required).form-control#editModalSource
            small.form-text.text-muted#editModalSourceHelp
              | e.g.&nbsp;
              mark /home/user/site/
          .form-group
            label(for="editModalMeta") Meta
            textarea(name="meta", aria-describedby="editModalMetaHelp",style="min-height: 128px; width: 100%").form-control#editModalMeta
            small.form-text.text-muted#editModalMetaHelp
              | e.g.&nbsp;
              mark { "cron": "* 1/2 * * *" }
        .modal-footer
          button(type="button",data-dismiss="modal").btn.btn-sm.btn-secondary Cancel
          button(type="submit").btn.btn-sm.btn-primary#editModalSubmit Save

  .modal.fade#confirmModal(tabIndex="-1",aria-labelledby="confirmModalLabel",aria-hidden="true",data-backdrop="static",data-keyboard="false")
    .modal-dialog
      form.modal-content(action="/sources",method="post")
        .modal-header
          h5.modal-title#confirmModalLabel Are you sure?
          button(type="button",data-dismiss="modal",aria-label="Close").close
            span(aria-hidden="true") &times;
        .modal-body#confirmModalBody
        .modal-footer
          button(type="button",data-dismiss="modal").btn.btn-sm.btn-secondary Cancel
          button(type="button").btn.btn-sm.btn-primary#confirmModalSubmit Continue

  script.
    var LIST = !{JSON.stringify(list)};
    document.addEventListener("DOMContentLoaded", function() {
      function confirm(content) {
        return new Promise(function (resolve) {
          $('#confirmModal').find('[data-dismiss="modal"]').on('click', function() { resolve(false); });
          $('#confirmModalSubmit').on('click', function() {
            $('#confirmModal').modal('hide');
            resolve(true);
          });
          $('#confirmModalBody').text(content);
          $('#confirmModal').modal('show');
        });
      }

      if (document.getElementById("error")) {
        var loc = window.location;
        var params = new URLSearchParams(loc.search);
        params.delete('error');
        var uri = `${loc.origin}${loc.pathname}${loc.hash}${params.toString() ? `?${params.toString()}` : ''}`;
        window.history.replaceState(null, window.title, uri);

        setTimeout(function () {
          $("#error").fadeOut(300, function() {
            $(this).remove();
          });
        }, 2000);
      }

      $(document).on("click", ".btn-add", function() {
        $('#editModal').find('input').val('');
        $('#editModal').find('textarea').val('');
        $('#editModalId').closest('.form-group').show();
        $('#editModalLabel').text('Add Source');
      });

      $(document).on("click", ".btn-edit", function() {
        var id = $(this).closest("tr").attr("id").toString();
        var i = parseInt(id.slice(id.indexOf("-") + 1));
        var item = LIST[i];
        if (!item) {
          return;
        }

        Object.keys(item).forEach(key => {
          let val = item[key];
          if (key === 'meta') {
            val = item.meta ? JSON.stringify(item.meta, null, 2) : '';
          }
          $('#editModal').find(`[name="${key}"]`).val(val);
        });
        $('#editModalId').closest('.form-group').hide();
        $('#editModalLabel').text(`Edit Source "${item.id}"`);
      });

      $(document).on("click", ".btn-remove", async function() {
        var id = $(this).closest("tr").attr("id").toString();
        var i = parseInt(id.slice(id.indexOf("-") + 1));
        var item = LIST[i];
        if (!item) {
          return;
        }


        if (!(await confirm(`Remove "${item.id}"?`))) {
          return;
        }

        const response = await fetch('/api/sources', {
          method: 'DELETE',
          headers: { 'Content-Type': 'application/json' },
          body: JSON.stringify([item.id]),
        });
        if (response.status >= 400) {
          console.warn(response);
          return;
        }
        window.location.reload();
      });

    });
