<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Backups WebApp
    link(rel="stylesheet", href="/static/css/index.css")
    link(rel="stylesheet", href="/static/css/vendor/bootstrap.css")
  body
    .container.page
      .card
        .card-header
          ul.nav.nav-tabs.card-header-tabs
            li.nav-item
              a.nav-link(href="/", class=(page === 'home' ? 'active' : '')) Home
            li.nav-item
              a.nav-link(href="/sources", class=(page === 'sources' ? 'active' : '')) Sources
            li.nav-item
              a.nav-link(href="/logs", class=(page === 'logs' ? 'active' : '')) Logs
            li.nav-item
              a.nav-link(href="/config", class=(page === 'config' ? 'active' : '')) Config
        .card-body
          block content
    script(type="text/javascript", src="/static/js/vendor/jquery.js")
    script(type="text/javascript", src="/static/js/vendor/bootstrap.js")
